@use 'fonts';
@use 'sass:color';

$body-font:          'Alegreya', serif;
$smallcaps-font:     'Alegreya SC', serif;
$extra-symbols-font: 'Noto Serif';
$icons-font:         'icons';

$bg-color:     #d8d0c5;
$fg-color:     #4e4336;
$accent-color: #b86622;

$accent-color-dark: color.change(
  mix($accent-color, black, 80%),
  $saturation: 80%
);

$medium:     500;
$bold:       700;
$extra-bold: 800;


html {
  font: $medium 17px/1.5em $body-font;
}

body {
  margin: 0;
  height: 100%;
  padding: 20px;
  background-color: $bg-color;
  color: $fg-color;
}

section {
//div.section {
  &:after {
    display: block;
    width: 100%;
    margin: 0.7em 0 0.22em 0;
    font-family: $icons-font;
    font-size: 2.4rem;
    font-weight: normal;
    text-align: center;
    opacity: 0.2;
  }

  &.style1:after { content: '\2206'; }
  &.style2:after { content: '\03a9'; }
  &.style3:after { content: '\222b'; }
  &.style4:after { content: '\221e'; }
  &.style5:after { content: '\2211'; }
  &.style6:after { content: '\2202'; }
  &.style7:after { content: '\00ac'; }
  &.style8:after { content: '\002a'; }
  &.style9:after { content: '\03bc'; }
  &.style10:after { content: '\220f'; }
  &.style11:after { content: '\25ca'; }
  &.style12:after { content: '\221a'; }

  &.big:after {
    margin: 4rem auto;
    font-size: 5.5rem;
  }
  &.small:after {
    margin: 0;
    font-size: 1rem;
    content: '\03a9\03a9\03a9';
  }

  h2 {
    display: inline-block;
    margin: 0.75em 0 0 1.25em;
    padding: 0;
    font-family: $smallcaps-font;
    font-weight: $medium;
    font-size: 30px;
    text-indent: -1.25em;
  }

  h3 {
    padding: 0;
    font-weight: $bold;
    font-size: 22px;
  }

  h4 {
    padding: 0;
    margin: 0;
    font-size: 20px;
  }

  .headerlink {
    display: none;
    &:before {
      content: " "
    }
  }

  h2, h3, h4 {
    &:hover {
      .headerlink {
        display: inline;
      }
    }
  }

  ul {
    padding-left: 2.4em;
    > li {
      list-style-type: none;
      text-indent: -1.5em;

      &:before {
        padding-right: 0.68em;
        font-family: $icons-font;
        font-size: 83%;
        line-height: 1;
        opacity: 0.45;
        content: '\2211';
      }

      p {
        display: inline;
        margin: 0;
        padding: 0;
        text-indent: 0;
      }
    }

    &.multiline {
      > li {
        margin-bottom: 0.4em;
      }
    }
  }

  dl {
    margin: 1.5em 0;
    > dt {
      font-weight: $extra-bold;
    }
    > dd {
      margin-bottom: 1em;
      > p {
        &:first-child {
          margin: 0;
        }
      }
    }
  }

  figure {
    margin: 2em auto;
    text-align: center;

    img {
      width: 90%;
    }
    > figcaption {
      font-size: 19px;
      font-style: italic;
      text-align: center;
    }
  }

  p {
    -webkit-hyphens: auto;
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 3;
    -webkit-hyphenate-limit-chars: 6 3 3;
    -webkit-hyphenate-limit-lines: 2;
    -webkit-hyphenate-limit-last: always;
    -webkit-hyphenate-limit-zone: 8%;

    -moz-hyphens: auto;
    -moz-hyphenate-limit-chars: 6 3 3;
    -moz-hyphenate-limit-lines: 2;
    -moz-hyphenate-limit-last: always;
    -moz-hyphenate-limit-zone: 8%;

    -ms-hyphens: auto;
    -ms-hyphenate-limit-chars: 6 3 3;
    -ms-hyphenate-limit-lines: 2;
    -ms-hyphenate-limit-last: always;
    -ms-hyphenate-limit-zone: 8%;

    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
  }

  em {
    font-weight: $medium;
  }

  strong {
    font-weight: $extra-bold;
  }

  code {
    font-family: $smallcaps-font;
    font-size: 90%;
    background: rgba($fg-color, $alpha: 0.13);
    border-radius: 5px;
    padding: 0 0.4em;
  }

  .sc {
    font-family: $smallcaps-font;
    padding-right: 4px;
  }

  > div.thumbnails {
    line-height: 0;

    > a {
      > img {
        display: inline-block;
        width: 23%;
        padding-right: 2%;
        padding-bottom: 2%;
      }
    }
  }

  span.circled-number {
    line-height: 1em;
    font-family: $icons-font;
    font-size: 0;

    &:before {
      position: relative;
      font-size: 0.9rem;
      opacity: 0.75;
    }

    &.num1:before  { content: '\2776' }
    &.num2:before  { content: '\2777' }
    &.num3:before  { content: '\2778' }
    &.num4:before  { content: '\2779' }
    &.num5:before  { content: '\277A' }
    &.num6:before  { content: '\277B' }
    &.num7:before  { content: '\277C' }
    &.num8:before  { content: '\277D' }
    &.num9:before  { content: '\277E' }
    &.num10:before { content: '\277F' }
  }
}

a.external:after {
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 65%;
  content: "\200a\200a\e900\200a";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin link {
  display: inline;
  font-family: $smallcaps-font;
  text-decoration: none;
  color: $accent-color;

  &:hover {
    text-decoration: underline;
    color: $accent-color-dark;
  }
}

@mixin section-h2-ornament {
  position: relative;

  h2 {
    &:before {
      position: absolute;
      left: -6px;
      font-family: $icons-font;
      font-size: 21px;
      opacity: 0.3;
      content: '\2767';
    }
  }
}

div.section,
section,
footer {
  a {
    @include link;
  }
}

footer {
  text-align: center;

  p {
    margin: 0 0 0.5em 0;
  }
}

