[general]
backgroundColor         = "rgb(88, 78, 68)"
highlightColor          = "rgb(1.0, 0.7, 0.0)"

[widget]
bgColor                 = "gray(1.0, 0.5)"
bgColorHover            = "gray(1.0, 0.63)"
bgColorDisabled         = "gray(1.0, 0.2)"
textColor               = "gray(0.0, 0.7)"
textColorDisabled       = "gray(0.0, 0.35)"

[textField]
bgColorActive           = "gray(1.0, 0.2)"
textColorActive         = "gray(1.0, 0.7)"
cursorColor             = "rgb(255, 190, 0)"
selectionColor          = "rgba(200, 130, 0, 120)"

[dialog]
titleBarBgColor         = "gray(0.1)"
titleBarTextColor       = "gray(0.85)"
backgroundColor         = "gray(0.25)"
textColor               = "gray(1.0, 0.7)"
warningTextColor        = "rgb(255, 100, 100)"

[titleBar]
backgroundColor         = "gray(0.18)"
bgColorUnfocused        = "gray(0.1)"
textColor               = "gray(1.0, 0.5)"
textColorUnfocused      = "gray(1.0, 0.4)"
modifiedFlagColor       = "gray(1.0, 0.25)"
buttonColor             = "gray(1.0, 0.45)"
buttonColorHover        = "gray(1.0, 0.7)"
buttonColorDown         = "gray(1.0, 0.9)"

[statusBar]
backgroundColor         = "gray(0.2)"
textColor               = "gray(0.8)"
commandBgColor          = "gray(0.5)"
commandColor            = "gray(0.15)"
coordsColor             = "gray(0.6)"

[levelDropdown]
buttonColor             = "gray(0.0, 0.0)"
buttonColorHover        = "gray(0.0, 0.1)"
textColor               = "rgba(255, 230, 190, 190)"
itemListColor           = "gray(0.25)"
itemColor               = "gray(1.0, 0.8)"
itemColorHover          = "gray(0.0, 0.7)"

[aboutButton]
color                   = "gray(0.0, 0.3)"
colorHover              = "gray(0.0, 0.4)"
colorActive             = "gray(0.0, 0.7)"

#-----------------------------------------------------------------------------

[level]
backgroundColor         = "rgb(98, 88, 78)"
drawColor               = "rgb(64, 62, 64)"
lightDrawColor          = "rgba(45, 42, 42, 70)"
lineWidth               = "Normal"

floorColor1             = "rgb(250, 245, 233)"
floorColor2             = "rgb(223, 212, 175)"
floorColor3             = "rgb(184, 164, 112)"
floorColor4             = "rgb(161, 163, 91)"
floorColor5             = "rgb(126, 117, 64)"
floorColor6             = "rgb(131, 161, 149)"
floorColor7             = "rgb(196, 162, 92)"
floorColor8             = "rgb(202, 141, 131)"
floorColor9             = "rgb(151, 119, 64)"

bgHatch                 = off

coordsColor             = "rgba(255, 230, 153, 150)"
coordsHighlightColor    = "rgb(255, 225, 100)"

cursorColor             = "rgb(1.0, 0.7, 0.0)"
cursorGuideColor        = "rgba(1.0, 0.7, 0.0, 0.2)"

gridStyleBackground     = "None"
gridStyleFloor          = "Normal"
gridColorFloor          = "rgba(0.4, 0.0, 0.4, 0.16)"

outlineStyle            = "None"

innerShadow             = off
outerShadow             = off

selectionColor          = "rgba(1.0, 0.5, 0.5, 0.5)"
pastePreviewColor       = "rgba(0.2, 0.6, 1.0, 0.5)"

noteMarkerColor         = "rgba(25, 22, 22, 180)"
noteCommentColor        = "rgba(1.0, 0.2, 0.0, 0.8)"
noteIndexColor          = "gray(1.0)"
noteIndexBgColor1       = "rgb(253, 73, 72)"
noteIndexBgColor2       = "rgb(50, 182, 229)"
noteIndexBgColor3       = "rgb(160, 162, 162)"
noteIndexBgColor4       = "rgb(76, 78, 78)"

noteTooltipBgColor      = "gray(0.0, 0.91)"
noteTooltipTextColor    = "gray(1.0, 0.9)"

linkMarkerColor         = "rgb(0, 179, 200)"

regionBorderColor       = "rgb(88, 78, 68)"
regionBorderEmptyColor  = "rgba(88, 78, 68, 50)"

#-----------------------------------------------------------------------------

[notesPane]
textColor               = "rgb(45, 42, 42)"
indexColor              = "gray(1.0)"
indexBgColor1           = "rgb(253, 73, 72)"
indexBgColor2           = "rgb(30, 152, 199)"
indexBgColor3           = "rgb(135, 137, 137)"
indexBgColor4           = "rgb(76, 78, 78)"

[toolbarPane]
buttonBgColor           = "rgba(255, 225, 175, 120)"
buttonBgColorHover      = "rgba(255, 225, 175, 190)"

