[general]
backgroundColor         = "gray(0.4)"
highlightColor          = "rgb(1.0, 0.65, 0.0)"

[widget]
bgColor                 = "gray(1.0, 0.5)"
bgColorHover            = "gray(1.0, 0.63)"
bgColorDisabled         = "gray(1.0, 0.2)"
textColor               = "gray(0.0, 0.7)"
textColorDisabled       = "gray(0.0, 0.35)"

[textField]
bgColorActive           = "gray(1.0, 0.2)"
textColorActive         = "gray(1.0, 0.7)"
cursorColor             = "rgb(255, 190, 0)"
selectionColor          = "rgba(200, 130, 0, 120)"

[dialog]
titleBarBgColor         = "gray(0.1)"
titleBarTextColor       = "gray(0.85)"
backgroundColor         = "gray(0.3)"
textColor               = "gray(1.0, 0.7)"
warningTextColor        = "rgb(255, 100, 100)"

[titleBar]
backgroundColor         = "gray(0.18)"
bgColorUnfocused        = "gray(0.1)"
textColor               = "gray(1.0, 0.5)"
textColorUnfocused      = "gray(1.0, 0.4)"
modifiedFlagColor       = "gray(1.0, 0.25)"
buttonColor             = "gray(1.0, 0.45)"
buttonColorHover        = "gray(1.0, 0.7)"
buttonColorDown         = "gray(1.0, 0.9)"

[statusBar]
backgroundColor         = "gray(0.15)"
textColor               = "gray(0.8)"
commandBgColor          = "gray(0.5)"
commandColor            = "gray(0.2)"
coordsColor             = "gray(0.6)"

[levelDropdown]
buttonColor             = "gray(0.0, 0.0)"
buttonColorHover        = "gray(0.0, 0.28)"
textColor               = "gray(1.0, 0.9)"
itemListColor           = "gray(0.3)"
itemColor               = "gray(1.0, 0.8)"
itemColorHover          = "gray(0.0, 0.7)"
itemBgColorHover        = "rgb(1.0, 0.65, 0.0)"

[aboutButton]
color                   = "gray(1.0, 0.5)"
colorHover              = "gray(1.0, 0.7)"
colorActive             = "gray(1.0, 0.85)"

#-----------------------------------------------------------------------------

[level]
backgroundColor         = "gray(0.4)"
drawColor               = "gray(0.1)"
lightDrawColor          = "gray(0.6)"
floorColor              = "gray(0.9)"
lineWidth               = lwNormal

bgHatch                 = on
bgHatchColor            = "gray(0.0, 0.4)"
bgHatchStrokeWidth      = 1.0
bgHatchSpacingFactor    = 2.0

coordsColor             = "gray(0.9)"
coordsHighlightColor    = "rgb(1.0, 0.75, 0.0)"

cursorColor             = "rgb(1.0, 0.65, 0.0)"
cursorGuideColor        = "rgba(1.0, 0.65, 0.0, 0.2)"

gridStyleBackground     = gsSolid
gridColorBackground     = "gray(0.0, 0.1)"
gridStyleFloor          = gsSolid
gridColorFloor          = "gray(0.2, 0.4)"

outlineStyle            = osCell
outlineFillStyle        = ofsSolid
outlineOverscan         = off
outlineColor            = "gray(0.22)"
outlineWidthFactor      = 0.5

innerShadow             = off
innerShadowColor        = "gray(0.0, 0.1)"
innerShadowWidthFactor  = 0.125
outerShadow             = off
outerShadowColor        = "gray(0.0, 0.1)"
outerShadowWidthFactor  = 0.125

selectionColor          = "rgba(1.0, 0.5, 0.5, 0.4)"
pastePreviewColor       = "rgba(0.2, 0.6, 1.0, 0.4)"

noteMarkerColor         = "gray(0.1, 0.7)"
noteCommentColor        = "rgba(1.0, 0.2, 0.0, 0.8)"
noteIndexColor          = "gray(1.0)"
noteIndexBgColor1       = "rgb(247, 92, 74)"
noteIndexBgColor2       = "rgb(255, 156, 106)"
noteIndexBgColor3       = "rgb(0, 179, 200)"
noteIndexBgColor4       = "rgb(19, 131, 127)"

noteTooltipBgColor      = "gray(0.0, 0.91)"
noteTooltipTextColor    = "gray(1.0, 0.9)"

linkMarkerColor         = "rgb(0, 179, 200)"

#-----------------------------------------------------------------------------

[notesPane]
textColor               = "gray(0.9)"
indexColor              = "gray(1.0)"
indexBgColor1           = "rgb(247, 92, 74)"
indexBgColor2           = "rgb(250, 141, 100)"
indexBgColor3           = "rgb(0, 179, 200)"
indexBgColor4           = "rgb(29, 141, 137)"

[toolbarPane]
buttonBgColor           = "gray(0.9)"
buttonBgColorHover      = "gray(1.0)"

