@charset "UTF-8";
/* Alegreya */
@font-face {
  font-family: "Alegreya";
  src: url("../font/subset-Alegreya-Medium.woff2") format("woff2"), url("../font/subset-Alegreya-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("../font/subset-Alegreya-MediumItalic.woff2") format("woff2"), url("../font/subset-Alegreya-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("../font/subset-Alegreya-Bold.woff2") format("woff2"), url("../font/subset-Alegreya-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("../font/subset-Alegreya-BoldItalic.woff2") format("woff2"), url("../font/subset-Alegreya-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Alegreya";
  src: url("../font/subset-Alegreya-ExtraBold.woff2") format("woff2"), url("../font/subset-Alegreya-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}
/* Alegreya SC */
@font-face {
  font-family: "Alegreya SC";
  src: url("../font/subset-AlegreyaSC-Medium.woff2") format("woff2"), url("../font/subset-AlegreyaSC-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Alegreya SC";
  src: url("../font/subset-AlegreyaSC-MediumItalic.woff2") format("woff2"), url("../font/subset-AlegreyaSC-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "Alegreya SC";
  src: url("../font/subset-AlegreyaSC-Bold.woff2") format("woff2"), url("../font/subset-AlegreyaSC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Alegreya SC";
  src: url("../font/subset-AlegreyaSC-BoldItalic.woff2") format("woff2"), url("../font/subset-AlegreyaSC-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}
/* Noto Serif Bold */
@font-face {
  font-family: "Noto Serif";
  src: url("../font/subset-NotoSerif-Bold.woff2") format("woff2"), url("../font/subset-NotoSerif-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
/* Icons */
@font-face {
  font-family: "icons";
  src: url("../font/icons.woff") format("woff2"), url("../font/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
html {
  font: 500 17px/1.5em "Alegreya", serif;
}

body {
  margin: 0;
  height: 100%;
  padding: 20px;
  background-color: #d8d0c5;
  color: #4e4336;
}

section:after {
  display: block;
  width: 100%;
  margin: 0.7em 0 0.22em 0;
  font-family: "icons";
  font-size: 2.4rem;
  font-weight: normal;
  text-align: center;
  opacity: 0.2;
}
section.style1:after {
  content: "∆";
}
section.style2:after {
  content: "Ω";
}
section.style3:after {
  content: "∫";
}
section.style4:after {
  content: "∞";
}
section.style5:after {
  content: "∑";
}
section.style6:after {
  content: "∂";
}
section.style7:after {
  content: "¬";
}
section.style8:after {
  content: "*";
}
section.style9:after {
  content: "μ";
}
section.style10:after {
  content: "∏";
}
section.style11:after {
  content: "◊";
}
section.style12:after {
  content: "√";
}
section.big:after {
  margin: 4rem auto;
  font-size: 5.5rem;
}
section.small:after {
  margin: 0;
  font-size: 1rem;
  content: "ΩΩΩ";
}
section h2 {
  display: inline-block;
  margin: 0.75em 0 0 1.25em;
  padding: 0;
  font-family: "Alegreya SC", serif;
  font-weight: 500;
  font-size: 30px;
  text-indent: -1.25em;
}
section h3 {
  padding: 0;
  font-weight: 700;
  font-size: 22px;
}
section h4 {
  padding: 0;
  margin: 0;
  font-size: 20px;
}
section .headerlink {
  display: none;
}
section .headerlink:before {
  content: " ";
}
section h2:hover .headerlink, section h3:hover .headerlink, section h4:hover .headerlink {
  display: inline;
}
section ul {
  padding-left: 2.4em;
}
section ul > li {
  list-style-type: none;
  text-indent: -1.5em;
}
section ul > li:before {
  padding-right: 0.68em;
  font-family: "icons";
  font-size: 83%;
  line-height: 1;
  opacity: 0.45;
  content: "∑";
}
section ul > li p {
  display: inline;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
section ul.multiline > li {
  margin-bottom: 0.4em;
}
section dl {
  margin: 1.5em 0;
}
section dl > dt {
  font-weight: 800;
}
section dl > dd {
  margin-bottom: 1em;
}
section dl > dd > p:first-child {
  margin: 0;
}
section figure {
  margin: 2em auto;
  text-align: center;
}
section figure img {
  width: 90%;
}
section figure > figcaption {
  font-size: 19px;
  font-style: italic;
  text-align: center;
}
section p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}
section em {
  font-weight: 500;
}
section strong {
  font-weight: 800;
}
section code {
  font-family: "Alegreya SC", serif;
  font-size: 90%;
  background: rgba(78, 67, 54, 0.13);
  border-radius: 5px;
  padding: 0 0.4em;
}
section .sc {
  font-family: "Alegreya SC", serif;
  padding-right: 4px;
}
section > div.thumbnails {
  line-height: 0;
}
section > div.thumbnails > a > img {
  display: inline-block;
  width: 23%;
  padding-right: 2%;
  padding-bottom: 2%;
}
section span.circled-number {
  line-height: 1em;
  font-family: "icons";
  font-size: 0;
}
section span.circled-number:before {
  position: relative;
  font-size: 0.9rem;
  opacity: 0.75;
}
section span.circled-number.num1:before {
  content: "❶";
}
section span.circled-number.num2:before {
  content: "❷";
}
section span.circled-number.num3:before {
  content: "❸";
}
section span.circled-number.num4:before {
  content: "❹";
}
section span.circled-number.num5:before {
  content: "❺";
}
section span.circled-number.num6:before {
  content: "❻";
}
section span.circled-number.num7:before {
  content: "❼";
}
section span.circled-number.num8:before {
  content: "❽";
}
section span.circled-number.num9:before {
  content: "❾";
}
section span.circled-number.num10:before {
  content: "❿";
}

a.external:after {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 65%;
  content: "   ";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.section a,
section a,
footer a {
  display: inline;
  font-family: "Alegreya SC", serif;
  text-decoration: none;
  color: #b86622;
}
div.section a:hover,
section a:hover,
footer a:hover {
  text-decoration: underline;
  color: #9d5111;
}

footer {
  text-align: center;
}
footer p {
  margin: 0 0 0.5em 0;
}

header {
  max-width: 650px;
  margin: 0 auto;
}
header > h1 {
  padding: 0;
  margin: 0;
}
header > h1 img {
  width: 100%;
}
header > h1 span {
  display: block;
  margin: -0.2em 0 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 4.2vw;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}
header > h1 span:before, header > h1 span:after {
  position: relative;
  top: -1.3em;
  font-family: "icons";
  font-size: 0.15em;
  content: "~";
}

nav.table-of-contents {
  display: none;
}
nav.toc-link {
  text-align: center;
  margin-top: 1.5em;
}
nav.toc-link a {
  display: inline;
  font-family: "Alegreya SC", serif;
  text-decoration: none;
  color: #b86622;
}
nav.toc-link a:hover {
  text-decoration: underline;
  color: #9d5111;
}

article {
  max-width: 650px;
  margin: 0 auto;
}
article h1 {
  margin: 0 0 1em 0;
  padding-top: 1em;
  font-family: "Alegreya SC", serif;
  font-size: 6vw;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-align: center;
  clear: both;
}
article img {
  display: block;
  width: 100%;
  margin: 2em auto;
}
article a {
  display: inline;
  font-family: "Alegreya SC", serif;
  text-decoration: none;
  color: #b86622;
}
article a:hover {
  text-decoration: underline;
  color: #9d5111;
}
article dl > dt > kbd {
  padding-left: 0.5em;
}
article nav {
  margin: 1em 0 1em 0;
  font-size: 16px;
}
article nav > ul {
  padding: 0;
  text-align: center;
}
article nav > ul > li {
  display: inline-block;
}
article nav > ul > li > a {
  display: inline;
  font-family: "Alegreya SC", serif;
  text-decoration: none;
  color: #b86622;
}
article nav > ul > li > a:hover {
  text-decoration: underline;
  color: #9d5111;
}
article nav > ul > li.prev {
  float: left;
}
article nav > ul > li.prev > a:before {
  content: "← ";
}
article nav > ul > li.next {
  float: right;
}
article nav > ul > li.next > a:after {
  content: "  →";
}
article nav.bottom {
  position: relative;
  top: -9.5em;
}
article .figure {
  margin-top: 2.2em;
}
article .figure img {
  margin-bottom: 0;
}
article .figure .caption {
  font-style: italic;
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: 2.2em;
}
article table {
  width: 100%;
  margin: 1em auto 0;
  border-collapse: collapse;
}
article table > caption {
  margin: 0 auto 0.5rem;
  border: 3px #9e9589;
  border-style: double none;
  font-family: "Alegreya SC", serif;
  font-weight: 700;
  font-size: 1rem;
}
article table > caption:before, article table > caption:after {
  font-family: "icons";
  font-size: 70%;
  line-height: 1;
  margin: 0 0.6em;
  opacity: 0.4;
}
article table > caption:before {
  content: "❧";
}
article table > caption:after {
  content: "❨";
}
article table > thead > tr > th {
  font-family: "Alegreya SC", serif;
  font-size: 85%;
  font-weight: 500;
  border-bottom: 2px solid #bcb4a8;
  line-height: 1.1em;
  padding-bottom: 0.5em;
}
article table > tbody > tr > td {
  font-size: 95%;
  padding: 0.25em 0.2em;
}
article table > tbody > tr > td > p {
  margin: 0.5em 0 0 0;
  font-style: italic;
  font-size: 95%;
  opacity: 0.6;
}
article table > tfoot > tr > td {
  padding-top: 0.5em;
}
article table > tfoot > tr p {
  margin: 0.5em 0;
  font-style: italic;
  text-align: center;
  font-size: 95%;
  opacity: 0.8;
}
article table.walls, article table.floors {
  width: 100%;
  margin: 2em auto 1.5em;
}
article table.walls img, article table.floors img {
  width: 31px;
  height: 31px;
  display: block;
  margin: 0 auto;
  padding: 0;
}
article table.walls > thead > tr > th.name, article table.floors > thead > tr > th.name {
  text-align: left;
}
article table.walls > tbody, article table.floors > tbody {
  border-top: 1px dashed #9e9589;
}
article table.walls > tbody:after, article table.floors > tbody:after {
  display: block;
  content: "";
  height: 0.4rem;
}
article table.walls > tbody > tr:first-child > td, article table.floors > tbody > tr:first-child > td {
  padding-top: 0.4em !important;
}
article table.walls > tbody > tr > td, article table.floors > tbody > tr > td {
  padding: 0;
}
article table.walls > tbody > tr > td.key, article table.floors > tbody > tr > td.key {
  text-align: center;
}
article table.walls > tbody > tr > td.name, article table.floors > tbody > tr > td.name {
  text-align: left;
  padding: 0;
}
article table.floors > thead > tr > th.name,
article table.floors > tbody > tr > td.name {
  padding-left: 1em;
}
article table.floors > tbody > tr > td.key {
  width: 22%;
}
article table.floors > tbody > tr > td.icon {
  width: 18%;
}
article table.walls > thead > tr > th.name,
article table.walls > tbody > tr > td.name {
  padding-left: 1em;
}
article table.walls > tbody > tr > td.icon {
  width: 33%;
}
article table.shortcuts:first-child {
  margin-top: 5em;
}
article table.shortcuts .group {
  display: block;
  margin-bottom: 0.2em;
}
article table.shortcuts > tbody:not(.no-padding):after {
  display: block;
  content: "";
  height: 1.4rem;
}
article table.shortcuts > tbody > tr:hover {
  background-color: #cdc5ba;
}
article table.shortcuts > tbody > tr > td:nth-child(1) {
  line-height: 1.5em;
  padding-right: 1.2em;
  white-space: nowrap;
  width: 40%;
}
article table.shortcuts > tbody > tr > td:nth-child(2) {
  line-height: 1.15em;
}
article table.shortcuts > tbody > tr:not(:last-child) > td {
  border-bottom: 1px dashed #9e9589;
}
article table.shortcuts.std-move-keys > tbody > tr > td {
  text-align: center;
}
article table.shortcuts.std-move-keys > tbody > tr > td:nth-child(1) {
  width: 25%;
  padding: 0;
}
article table.shortcuts.std-move-keys > tbody > tr > td:nth-child(2) {
  width: 25%;
}
article table.shortcuts.std-move-keys > tbody > tr > td:nth-child(3) {
  width: 25%;
}
article .admonition {
  margin: 1.5em 0;
  background: rgba(78, 67, 54, 0.13);
  border-radius: 6px;
  font-size: 99%;
}
article .admonition > p {
  padding: 0 1.1em 1em 1.1em;
  margin: 0em 0;
}
article .admonition > p:nth-child(2) {
  margin-top: 0.8em;
}
article .admonition > p.admonition-title {
  padding: 0.15em 1.1em;
  background: rgba(78, 67, 54, 0.28);
  border-radius: 6px 6px 0 0;
  font-weight: 700;
}
article kbd {
  line-height: 1.4;
  font-size: 15px;
  white-space: nowrap;
}
article kbd:not(.compound) {
  display: inline-block;
  margin: 0px 0.1rem;
  padding: 0 0.35em;
  min-width: 0.7em;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  font-family: "Alegreya SC", serif;
  font-style: normal;
  background: rgba(0, 0, 0, 0.03);
  color: #444;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
article kbd:not(.compound).move {
  padding: 0 0.1rem;
  border: none;
  background: none;
  box-shadow: none;
}
article span.asterisk {
  font-size: 1.2em;
  font-style: normal;
  line-height: 1;
}
article span.dagger {
  position: relative;
  top: -0.4em;
  font-family: serif;
  font-weight: bold;
  font-style: normal;
  font-size: 0.8em;
  padding-left: 0.07em;
  line-height: 1;
}
article p.quote {
  margin: 1.4em 0;
  padding-left: 2em;
}
article section.big:after {
  margin: 7rem auto 3rem auto;
}

#table-of-contents li:before {
  content: none;
}

footer {
  clear: both;
  margin: 2rem 0 1.3rem 0;
}

/*--------------------------------------------------------------------------*/
@media (min-width: 400px) {
  html {
    font-size: 18px;
  }

  article nav {
    font-size: 18px;
  }
  article table.floors {
    width: 85%;
  }
  article table.walls {
    width: 60%;
  }
}
@media (min-width: 500px) {
  html {
    font-size: 19px;
  }

  article nav {
    font-size: 19px;
  }
  article kbd {
    font-size: 16px;
  }
  article table.floors {
    width: 78%;
  }
  article table.walls {
    width: 52%;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 20px;
  }

  header > h1 > span {
    font-size: 25px;
  }

  article nav {
    font-size: 20px;
  }
  article table.floors {
    width: 70%;
  }
  article table.walls {
    width: 45%;
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 688px) {
  html {
    font-size: 21px;
  }

  header > h1 {
    font-size: 64px;
  }

  article > nav {
    font-size: 21px;
  }
  article h1 {
    font-size: 42px;
  }
  article h2 {
    font-size: 34px;
  }
  article h3 {
    font-size: 24px;
  }
  article kbd {
    font-size: 17px;
  }
  article table.floors {
    width: 60%;
  }
  article table.walls {
    width: 40%;
  }
  article table.shortcuts {
    width: 80%;
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 800px) {
  section > section {
    position: relative;
  }
  section > section h2:before {
    position: absolute;
    left: -6px;
    font-family: "icons";
    font-size: 21px;
    opacity: 0.3;
    content: "❧";
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 1110px) {
  header {
    position: fixed;
    width: 320px;
    top: 20px;
    left: 20px;
  }
  header > h1 > span {
    font-size: 19px;
  }
  header nav.table-of-contents,
header div.toctree-wrapper {
    display: block;
    margin-top: 0em;
  }
  header nav.table-of-contents li:before,
header div.toctree-wrapper li:before {
    content: none;
  }
  header nav.table-of-contents li > a,
header div.toctree-wrapper li > a {
    font-family: "Alegreya SC", serif;
    font-weight: 500;
    color: #4e4336;
    text-decoration: none;
  }
  header nav.table-of-contents li > a:hover,
header div.toctree-wrapper li > a:hover {
    opacity: 0.7;
  }
  header nav.table-of-contents li.current > a,
header div.toctree-wrapper li.current > a {
    color: #b86622;
  }
  header nav.table-of-contents li.current > a:after,
header div.toctree-wrapper li.current > a:after {
    content: " ❦";
    padding-left: 0.2em;
  }
  header nav.table-of-contents li.current > a:hover,
header div.toctree-wrapper li.current > a:hover {
    color: #9d5111;
  }
  header nav.table-of-contents ul,
header div.toctree-wrapper ul {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.5em;
    list-style: none;
  }
  header nav.table-of-contents ul:nth-of-type(2),
header div.toctree-wrapper ul:nth-of-type(2) {
    margin-top: 1.5em;
  }
  header nav.table-of-contents ul > li,
header div.toctree-wrapper ul > li {
    text-indent: 0;
  }
  header nav.table-of-contents ul > li > a:before,
header div.toctree-wrapper ul > li > a:before {
    display: inline-block;
    width: 1.9em;
    margin-right: 0.7em;
    text-align: right;
  }
  header nav.table-of-contents ul li > ul,
header div.toctree-wrapper ul li > ul {
    margin-top: 0.2em;
    margin-bottom: 0.6em;
    padding-left: 1.4em;
    line-height: 1.3em;
    list-style: none;
  }
  header nav.table-of-contents ul li > ul > li,
header div.toctree-wrapper ul li > ul > li {
    font-size: 90%;
    margin-left: 2.6em;
    margin-bottom: 0.3em;
    line-height: 1.1em;
    text-indent: -2.6em;
  }
  header nav.table-of-contents ul li > ul > li > a:before,
header div.toctree-wrapper ul li > ul > li > a:before {
    display: inline-block;
    width: 1.9em;
    margin-right: 0.7em;
    text-align: right;
  }

  nav.toc-link {
    text-align: left;
    font-size: 20px;
  }
  nav.toc-link a {
    color: #4e4336;
  }
  nav.toc-link a:hover {
    text-decoration: none;
  }
  nav.toc-link a.current {
    color: #b86622;
  }
  nav.toc-link a.current:after {
    content: " ❦";
    padding-left: 0.2em;
  }
  nav.toc-link a.current:hover {
    color: #9d5111;
  }

  article {
    margin-left: 382px;
  }
  article > nav {
    width: 650px;
    height: 92px;
    margin-left: -60px;
    padding: 16px 0 0 60px;
    position: fixed;
    top: 0;
    z-index: 10;
    background: #d8d0c5;
  }
  article > nav.top {
    margin-top: 0em;
  }
  article > nav > ul > li.toc {
    display: none;
  }
  article > nav.bottom {
    display: none;
  }
  article h1 {
    margin-top: 1.9em;
  }
  article section[id] {
    scroll-margin-top: 112px;
  }
  article section.big:after {
    margin: 5rem auto;
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 1472px) {
  article {
    margin-left: auto;
  }
}
