@charset "UTF-8";
/* Alegreya */
@font-face {
  font-family: "Alegreya";
  src: url("../font/subset-Alegreya-Medium.woff2") format("woff2"), url("../font/subset-Alegreya-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya";
  src: url("../font/subset-Alegreya-MediumItalic.woff2") format("woff2"), url("../font/subset-Alegreya-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya";
  src: url("../font/subset-Alegreya-Bold.woff2") format("woff2"), url("../font/subset-Alegreya-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya";
  src: url("../font/subset-Alegreya-BoldItalic.woff2") format("woff2"), url("../font/subset-Alegreya-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya";
  src: url("../font/subset-Alegreya-ExtraBold.woff2") format("woff2"), url("../font/subset-Alegreya-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/* Alegreya SC */
@font-face {
  font-family: "Alegreya SC";
  src: url("../font/subset-AlegreyaSC-Medium.woff2") format("woff2"), url("../font/subset-AlegreyaSC-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya SC";
  src: url("../font/subset-AlegreyaSC-MediumItalic.woff2") format("woff2"), url("../font/subset-AlegreyaSC-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya SC";
  src: url("../font/subset-AlegreyaSC-Bold.woff2") format("woff2"), url("../font/subset-AlegreyaSC-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alegreya SC";
  src: url("../font/subset-AlegreyaSC-BoldItalic.woff2") format("woff2"), url("../font/subset-AlegreyaSC-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
/* Fertigo Pro */
@font-face {
  font-family: "Fertigo Pro";
  src: url("../font/subset-FertigoPro-Regular.woff2") format("woff2"), url("../font/subset-FertigoPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* DejaVu Sans */
@font-face {
  font-family: "DejaVu Sans";
  src: url("../font/subset-DejaVuSans.woff2") format("woff2"), url("../font/subset-DejaVuSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  font: 500 17px/1.5em "Alegreya", serif;
}

body {
  margin: 0;
  height: 100%;
  padding: 20px;
  background-color: #d8d0c5;
  color: #4e4336;
}

.section:after {
  display: block;
  width: 100%;
  margin: 0.7em 0 0.22em 0;
  font-family: "Fertigo Pro";
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  opacity: 0.2;
}
.section.style1:after {
  content: "∆";
}
.section.style2:after {
  content: "Ω";
}
.section.style3:after {
  content: "∫";
}
.section.style4:after {
  content: "∞";
}
.section.style5:after {
  content: "∑";
}
.section.style6:after {
  content: "∂";
}
.section.style7:after {
  content: "¬";
}
.section.big:after {
  margin: 4rem auto;
  font-size: 7.5rem;
}
.section h2 {
  display: inline-block;
  margin: 0.75em 0 0 1.25em;
  padding: 0;
  font-family: "Alegreya SC", serif;
  font-weight: 500;
  font-size: 30px;
  text-indent: -1.25em;
}
.section h3 {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
}
.section .headerlink {
  display: none;
}
.section .headerlink:before {
  content: " ";
}
.section h2:hover .headerlink, .section h3:hover .headerlink, .section h4:hover .headerlink {
  display: inline;
}
.section ul {
  padding-left: 2.4em;
}
.section ul > li {
  list-style-type: none;
  text-indent: -1.5em;
}
.section ul > li:before {
  padding-right: 0.65em;
  font-family: "Fertigo Pro";
  opacity: 0.6;
  content: "∑";
}
.section ul > li p {
  display: inline;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
.section ul.multiline > li {
  margin-bottom: 0.3em;
}
.section dl {
  margin: 1.5em 0;
}
.section dl > dt {
  font-weight: 800;
}
.section dl > dd {
  margin-bottom: 1em;
}
.section dl > dd > p:first-child {
  margin: 0;
}
.section figure {
  margin: 2em auto;
  text-align: center;
}
.section figure img {
  width: 90%;
}
.section figure > figcaption {
  font-size: 19px;
  font-style: italic;
  text-align: center;
}
.section p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}
.section em {
  font-weight: 500;
}
.section strong {
  font-weight: 800;
}
.section code {
  font-family: "Alegreya SC", serif;
  font-size: 90%;
  background: rgba(78, 67, 54, 0.13);
  border-radius: 5px;
  padding: 0 0.4em;
}
.section .sc {
  font-family: "Alegreya SC", serif;
  padding-right: 4px;
}
.section > div.thumbnails {
  line-height: 0;
}
.section > div.thumbnails > a > img {
  display: inline-block;
  width: 23%;
  padding-right: 2%;
  padding-bottom: 2%;
}
.section span.circled-number {
  line-height: 1em;
  font-family: "DejaVu Symbols";
  font-size: 0;
}
.section span.circled-number:before {
  position: relative;
  font-size: 0.9rem;
  opacity: 0.75;
}
.section span.circled-number.num1:before {
  content: "❶";
}
.section span.circled-number.num2:before {
  content: "❷";
}
.section span.circled-number.num3:before {
  content: "❸";
}
.section span.circled-number.num4:before {
  content: "❹";
}
.section span.circled-number.num5:before {
  content: "❺";
}
.section span.circled-number.num6:before {
  content: "❻";
}
.section span.circled-number.num7:before {
  content: "❼";
}
.section span.circled-number.num8:before {
  content: "❽";
}
.section span.circled-number.num9:before {
  content: "❾";
}
.section span.circled-number.num10:before {
  content: "❿";
}

.section a,
footer a {
  display: inline;
  font-family: "Alegreya SC", serif;
  text-decoration: none;
  color: #b86622;
}
.section a:hover,
footer a:hover {
  text-decoration: underline;
  color: #9d5111;
}

footer {
  text-align: center;
}
footer p {
  margin: 0 0 0.5em 0;
}

header {
  margin-top: 1%;
}
header > h1 {
  margin: 0;
}
header > h1 > img {
  display: block;
  width: 100%;
  max-width: 905px;
  margin: 0 auto;
}
header > h1 > img.warrior-emblem {
  margin-top: 1rem;
}
header > nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2em;
}
header > nav > ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
header > nav > ul > li > a {
  font-family: "Alegreya SC", serif;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: #4e4336;
}
header > nav > ul > li > a:hover {
  opacity: 0.7;
}

section.body {
  max-width: 650px;
  margin: 0 auto;
}

/*--------------------------------------------------------------------------*/
@media (min-width: 400px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 500px) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 20px;
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 688px) {
  html {
    font-size: 21px;
  }

  header > h1 {
    font-size: 64px;
  }
  header > nav {
    margin-bottom: 5em;
  }
  header > nav > ul > li {
    display: inline;
  }
  header > nav > ul > li > a {
    font-size: 24px;
    white-space: nowrap;
  }
  header > nav > ul > li:not(:last-child):after {
    font-family: "Fertigo Pro";
    padding: 0 4px 0 8px;
    opacity: 0.4;
    content: "Ω";
  }

  section.body > h2 {
    font-size: 34px;
  }
  section.body > h3 {
    font-size: 24px;
  }
  section.body kbd > kbd {
    font-size: 18px;
  }
}
/*--------------------------------------------------------------------------*/
@media (min-width: 800px) {
  header > h1 {
    font-size: 64px;
  }

  section.body {
    position: relative;
  }
  section.body h2:before {
    position: absolute;
    left: -10px;
    font-family: "DejaVu Symbols";
    font-size: 40px;
    opacity: 0.3;
    content: "☙";
  }
}
